################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/2023/bin/Debug/net8.0
/2023/obj
/Helpers/bin/Debug/net8.0
/Helpers/obj
